.addcart-container{
    margin: 1% auto;
    width: 80%;
    display: flex;
    gap: 4;
}

.add-product-section{
    width: 600px;
    padding: 10px;
    border: 1px solid black;
}

.user-pincode{
    padding: 10px;
    display: flex;
}

.Billing-section{
    border: 1px solid black;
    width: 300px;

}