.addcart-container {
  margin: 1% auto;
  width: 80%;
  display: flex;
  gap: 10;
}

.cart-product-section {
  height: 90vh;
  overflow: auto;
  overflow-x: hidden;
  margin: 10px auto;
}
.add-product-section {
  width: 600px;
  padding: auto 10px;
}

.user-pincode {
  padding: 10px;
  display: flex;
}

.Billing-section {
  width: 300px;
  padding: 10px;
  height: 270px;
}

.add-to-cart-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  margin: 10px auto;
}
