.wishlist-image{
    height: 130px;
}

.wishlist-price-sec,.wishlist-detail {
    display: flex;
}

.whishlist-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
