.addcart-container {
  gap: 10px;
  width: 80%;
  margin: 1% auto;
  display: flex;
  align-items: baseline;
  justify-content: center;

}

.cart-product-section {
  height: 65vh;
  overflow: auto;
  overflow-x: hidden;
  margin: 10px auto;
}
.add-product-section {
  width: 600px;
  padding: auto 10px;
}


.address-section{
  margin-top: 0px !important;
}
.user-pincode {
  padding: 10px;
  display: flex;
}

.Billing-section {
  width: 300px;
  padding: 10px;
  height: 270px;
}

.add-to-cart-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  margin: 10px auto;
}

.address-section{
  width: 100%;
}