.suggestion-main-container {
  background-color: white;
  margin: 10px 20px;
  padding: 15px;
}

.suggestion-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion-card {
  height: 140px;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}

.suggestion-images {
  height: 100px;
  width: 100px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
