.header-main-container {
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto 30px;
}

.flipkart-plus-image {
    height: auto;
    cursor: pointer;
}

.flipkart-image-style {
    height: 40px;
    width: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

/* Search Bar */
.search-container {
    height: 40px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2874f0;
}

/* Login Button */
.login-btn {
    height: 40px;
    margin-left: 10px;
    border-color: grey;
    color: rgb(46, 46, 46);
}

/* Menu Buttons */
.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menus {
    color: white !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    gap: 0 !important;
    margin-left: -10 !important;

}

/* Cart and Notifications */
.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}

/* User Profile */
.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.user-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
