.product-list-container{
  background-color: red;
  padding: 10px;

}

.list-card-container{
  background-color: green;
  margin: 20px;
  width: 100%;
}

.list-card{
  display: flex;
  width: 200px;
  height: 300px;
}

.image-section{
  width: 80%;
  background-color: antiquewhite;
}
.detail-section{
  background-color: gainsboro;
  width: 80%;
}

.list-card-title{
  overflow: hidden;
  
}

.list-card-description{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}