.Product-suggestion-main-container{
    background-color: rgb(37, 37, 37);
    margin: 10px 20px;
    padding: 15px;
}

.Product-suggestion-container{
   
   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow-x: scroll;
   overflow-y: hidden;

    
}

.Product-suggestion-card{
    height: 250px;
    width: 250px !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid rgb(207, 206, 206);
    padding: 4px;
    border-radius: 10px;
   
}

.Product-suggestion-card:hover{
    box-shadow: 0px 0px 3px rgb(220, 220, 220);
    cursor: pointer;
}

.Product-suggestion-images{
    max-height: 170px;
    max-width:  170px;
}

.Product-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestion-title{
    text-align: center;

}